body {
  margin-top: 30px;
  background: url("../images/clouds.2.jpg");
  font-size: 18px;
  font-family: monospace;
}

h1 {
  text-align: center;
  font-size: 40px;
  padding: 0 auto;
  margin: 5px;
  margin-top: -10px;
  margin-bottom: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 10px;
  display: block;
  margin: auto;
  font-size: 38px;
  font-weight: 100;
  line-height: 50px;
  margin: 0;
  text-align: center;
}

p {
  padding: 0 auto;
  margin: 10;
}

.weather-app {
  border: solid 8px #c4c3c3;
  background-color: #f5d3c9;
  border-radius: 20px;
  background: rgb(248, 183, 165);
  margin: 100px auto;
  max-width: 700px;
  max-height: 750px;
  padding: 50px;
  background: url("../images/clouds.jpg");
  opacity: 1;
}

.search-form {
  margin-bottom: 20px;
}
li {
  line-height: 1.5;
  list-style: none;
  margin-top: 5px;
  text-transform: capitalize;
  text-align: center;
}

ul {
  padding: 15px;
  margin-top: -40px;
}

.temperature {
  font-size: 55px;
}

.units {
  position: relative;
  top: -30px;
}

.weather-icon {
  height: 100px;
  width: 100px;
  padding: 0 auto;
  margin: 0px;
  margin: -10px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}
.weather-forecast-date {
  font-size: 17px;
  color: black;
  opacity: 1;
}

.weather-forecast-temperature-min {
  opacity: 0.7;
}
.weather-forecast-temperature {
  font-size: 15px;
  position: absolute;
}

footer {
  position: relative;
  text-align: center;
  font-size: 16px;
  margin-top: -80px;
}

hr {
  line-height: 1px;
  border: solid 2px #b3b1b1;
}

.col-4 {
  text-align: center;
  margin-left: 60px;
}

.vl {
  border-left: solid 2px #c4c3c3;
  height: 90px;
  position: absolute;
  left: 50%;
  top: 170;

  margin-top: 30px;
}
